<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>修改密码</title>
</head>
<body>
    <h1>修改密码</h1>
    <form action="/user/changePwd" method="post" onsubmit="return send()">
        请输入原密码: <input type="password" id="oldPwd"><br>
        请输入新密码: <input type="password" id="newPwd" name="password"><br>
        <input type="submit" value="确定">
    </form>
    <script src="/js/jquery-1.9.1.min.js"></script>
    <script>
        var oldRight = false;//假设旧密码输入错误

        // 判断原密码是否正确
        $('#oldPwd').on('blur',function(){
            // 取旧密码的值
            var oldPwd = $(this).val().trim();
            $.ajax({
                url:'/user/checkPwd?password='+oldPwd,
                success:function(result){
                    if(result.status==1){
                        alert('旧密码不正确');
                        oldRight = false;
                        return ;
                    }
                    if(result.status==0){
                        oldRight = true;
                    }
                }
            })
        })
        // 是否可以发送修改密码的请求
        function send(){
            var newPwd = $('#newPwd').val().trim();
            if(!newPwd){
                alert('新密码不能为空');
                return false;
            }
            if(!oldRight){
                alert('原密码不正确');
                return false;
            }
            return true;
        }
    </script>
</body>
</html>