<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/mess/edit" method="POST">
        用户名: <input type="text" name="username" value="<%= msg[0].username %>"><br>
        留言: <textarea name="message"></textarea><br>
        <input type="submit" value="提交">
    </form>
</body>
</html>