<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <form action="/mess/tijiao" method="POST">
            用户名: <input type="text" name="username"><br>
            留言: <textarea name="message" cols="30" rows="10"></textarea><br>
            <input type="submit" value="提交">
        </form>
        <hr>
        <div>
            <div>
                <% for(var i=0;i<messes.length;i++){ %>
                <p><%= messes[i].username %><span>说:</span></p>
                <p><%= messes[i].message %></p>
                <p><%= messes[i].date %></p>
                <p><a href="/mess/edit">编辑</a><a href="/mess/delete?username=<%= messes[i].username %>">删除</a></p>
                <% } %>
            </div>
        </div>
    </div>
</body>
</html>