<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>登录</title>
</head>
<body>
    <form action="/user/regist" method="post" onsubmit="return check()">
        <h1>用户注册</h1>
        <div>
            用户名: <input type="text" name="username" onblur="checkName(this)">
        </div>
        <div>
            密码: <input type="password" name="password">
        </div>
        
        <div>
            <input type="submit" value="注册">
            <a href="/user/login">登录</a>
        </div>
    </form>

    <script src="/js/jquery-1.9.1.min.js"></script>
    <script>
        var canUse = false;//用户名是否可用
        // 检查用户名是否可用
        function checkName(i){
            var username = $(i).val()
            // 发送ajax请求判断username是否已经存在
            $.ajax({
                url:'/user/check',
                method:'post',
                data:{username:username},
                success:function(result){
                    alert(result.msg);
                    if(result.status==0){//用户名可用
                        canUse = true;
                    }else{//用户名已存在
                        canUse = false;
                    }
                }
            })
        }

        function check(){
            // 判断用户名是否可用
            if(!canUse){
                alert('用户名已存在,请换一个');
                return false ;
            }
            // 判断密码是否为空
            var  password = $('input[name=password]').val().trim();
            if(password==''){
                alert('密码不能为空');
                return false;
            }
            // 可以发送
            return true;
        }
    </script>
</body>
</html>